  {% load static %}
  <!-- Modal -->
  <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="aboutModalLabel">About LinkBeam</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <img src="{% static 'linkbeam/img/app_logo.svg' %}"  alt="app logo">
          <p class="fw-bold mt-2">
            {{ settings.APP_NAME }}
          </p>
          <p class="fw-light mt-2">
            {{ settings.APP_NAME }} is a light app designed to vizualize in a different way all publicly available linkedin profiles.
          </p>
          <p class="mt-2 small">
            Designed by {{ settings.APP_AUTHOR }}.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">OK</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  