{% extends "profileviewer/base.html" %}

{% load static %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{% static 'linkbeam/css/user_card.css' %}">
{% endblock %}

{% block body_content %}

	<div class="mb-3 text-center">
		<span class="badge text-bg-primary"><a href="{{ params.linkURL }}" class="text-light">{{ params.linkURL }}</a></span>
	</div>

	<div class="py-3">

		{% include "profileviewer/page_sections/viewer/group_button.html" %}

		<div class="mb-5">
			
			<!-- user card -->
			{# {% include "profileviewer/page_sections/viewer/user_card.html" %} #}

			{% include "profileviewer/page_sections/viewer/education.html" %}

		</div>
	</div>

{% endblock %}
