# Django
# -----------------------------------------------------------------------------
Django  # https://www.djangoproject.com/


# Django Vite
# -----------------------------------------------------------------------------
django-vite

# Gunicorn
# -----------------------------------------------------------------------------
gunicorn

# Whitenoise
# -----------------------------------------------------------------------------
whitenoise
