{% extends "profileviewer/base.html" %}

{% load static %}

{% block body_content %}

	<div class="text-center">
		<svg viewBox="0 0 24 24" width="200" height="200" stroke="gray" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
		<p class="mt-2 fst-italic">
			An error occured. You are invited to try again later !
		</p>
	</div>


	{% include "profileviewer/page_sections/index/features.html" %}

{% endblock %}