{% load static %}

<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="{% static 'linkbeam/img/app_logo.svg' %}" class="me-2" alt="app logo">
        <span class="fs-4">{{settings.APP_NAME}}</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'profileviewer:index' %}#product-features">Features</a>
        <a class="me-3 py-2 text-dark text-decoration-none btn btn-outline-light border border-secondary" href="https://github.com/TafsirGna/LinkBeam">Github</a>
        <!-- <a class="me-3 py-2 text-dark text-decoration-none" href="#">
          <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>

          <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
          
        </a> -->
        <!-- <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a> -->
      </nav>
    </div>

    {% block header_text %}
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Hello !</h1>
        <p class="fs-5 text-muted">Linkbeam is a very light web application that proposes a different UX design for publicly available linkedIn profiles. Get started by inputting the profile URL in the form below</p>
      </div>
    {% endblock %}

  </header>