{% load static %}

<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="{% static 'linkbeam/img/app_logo.svg' %}" class="me-2" alt="app logo">
        <span class="fs-4">{{settings.APP_NAME}}</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'profileviewer:index' %}#product-features">Features</a>
        <a class="me-3 py-2 text-dark text-decoration-none btn btn-outline-primary" href="https://github.com/TafsirGna/LinkBeam">Github</a>
        <!-- <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
        <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a> -->
      </nav>
    </div>

    {% block header_text %}
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Hello !</h1>
        <p class="fs-5 text-muted">Linkbeam is a very light web application that proposes a different UX design for publicly available linkedIn profiles. Get started by inputting the profile URL in the form below</p>
      </div>
    {% endblock %}

  </header>